## 2012.1.1 - 2021.4.30 Baltimore Victim-Based Crime exploratory data analysis

In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# read in open baltimore 2012-2023 dataset
df = pd.read_csv("Resources/2012-2021_BPD_Victim_Based_Crime_Data_clean.csv")
df.head()

C:\Users\johbr\AppData\Local\Temp\ipykernel_14536\3669058350.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Resources/2012-2021_BPD_Victim_Based_Crime_Data_clean.csv")

,Unnamed: 0,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,Gender,...,Race,Ethnicity,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,Total_Incidents,CrimeDateTime
0,84670,2021-04-30,23:50:00+00,6D,200 SCOTT ST,LARCENY FROM AUTO,NaN,NaN,932.0,M,...,UNKNOWN,NaN,SOUTHERN,WASHINGTON VILLAGE/PIGTOWN,39.285056,-76.629022,"(39.285056,-76.629022)",NaN,1,2021/04/30 23:50:00+00
1,84666,2021-04-30,23:50:00+00,6G,1700 THAMES ST,LARCENY,I,NaN,213.0,F,...,WHITE,NaN,SOUTHEAST,FELLS POINT,39.281896,-76.592512,"(39.281896,-76.592512)",BAR,1,2021/04/30 23:50:00+00
2,84333,2021-04-30,23:38:00+00,6E,4100 EMMART AVE,LARCENY,O,NaN,631.0,F,...,BLACK_OR_AFRICAN_AMERICAN,NaN,NORTHWEST,REISTERSTOWN STATION,39.349471,-76.693679,"(39.349471,-76.693679)",PARKING LOT-OUTSIDE,1,2021/04/30 23:38:00+00
3,84677,2021-04-30,23:38:00+00,6E,4100 EMMART AVE,LARCENY,O,NaN,631.0,M,...,UNKNOWN,NaN,NORTHWEST,REISTERSTOWN STATION,39.349471,-76.693679,"(39.349471,-76.693679)",PARKING LOT-OUTSIDE,1,2021/04/30 23:38:00+00
4,84074,2021-04-30,23:38:00+00,6E,4100 EMMART AVE,LARCENY,O,NaN,631.0,NaN,...,UNKNOWN,NaN,NORTHWEST,REISTERSTOWN STATION,39.349471,-76.693679,"(39.349471,-76.693679)",PARKING LOT-OUTSIDE,1,2021/04/30 23:38:00+00

In [3]:
df.describe()
# look at age - i'm surprised it's that high
# wonder how that breaks down by type of crime committed

# what does post mean?

,Unnamed: 0,Post,Age,Latitude,Longitude,Total_Incidents
count,481408.000000,473711.000000,381852.000000,480542.000000,480542.000000,481408.0
mean,326605.523978,503.587244,37.926534,38.773137,-75.576983,1.0
std,138989.379328,261.031554,38.989416,4.549539,8.867924,0.0
min,83615.000000,111.000000,-7979.000000,0.000000,-76.711280,1.0
25%,206260.750000,234.000000,26.000000,39.287699,-76.648362,1.0
50%,326612.500000,511.000000,35.000000,39.302473,-76.613526,1.0
75%,446964.250000,724.000000,49.000000,39.326625,-76.585595,1.0
max,568613.000000,943.000000,8251.000000,39.372088,0.000000,1.0

## Weapon types

In [4]:
# weapon types
print(f"""The number of weapon types is {df.Weapon.nunique()}

{df.Weapon.unique()}

{df.Weapon.value_counts()}
""")

The number of weapon types is 10

[nan 'FIREARM' 'OTHER' 'FIRE' 'KNIFE' 'HANDS' 'PERSONAL_WEAPONS'
 'KNIFE_CUTTING_INSTRUMENT' 'BLUNT_OBJECT' 'HANDGUN' 'UNKNOWN']

FIREARM                     42435
OTHER                       28118
KNIFE                       16995
HANDS                        6865
FIRE                         2233
PERSONAL_WEAPONS               35
BLUNT_OBJECT                    2
KNIFE_CUTTING_INSTRUMENT        1
HANDGUN                         1
UNKNOWN                         1
Name: Weapon, dtype: int64

## Gender

In [5]:
# gender
gender_df = df.copy()

# move 'male' and 'female' into 'm' and 'f'
gender_df.Gender = df.Gender.replace({"Female": "F", "Male": "M"})

# drop all other genders
gender_df = gender_df[gender_df.Gender.isin({"M", "F", "U"})]

print(f"""The original data's value counts:
{df.Gender.value_counts()}

gender_df is:
{gender_df.Gender.value_counts()}
""")

The original data's value counts:
F             199493
M             181765
U              11528
Male            6722
Female           815
B                130
W                 20
N                 11
,                 10
Transgende         7
FB                 6
FW                 2
160                2
O                  2
120                1
165                1
60                 1
8                  1
MB                 1
77                 1
17                 1
042819             1
A                  1
S                  1
FM                 1
T                  1
M\                 1
FF                 1
FU                 1
50                 1
Name: Gender, dtype: int64

gender_df is:
F    200308
M    188487
U     11528
Name: Gender, dtype: int64

## Inside / Outside

In [6]:
# indoor / outdoor
in_out_df = df.copy()
in_out_df['Inside/Outside'] = df['Inside/Outside'].replace({'Outside': 'O', 'Inside': 'I'})

in_out_df.dropna(subset=['Inside/Outside'], inplace=True)

print(f"""Original Indoor/Outdoor value counts:

{df['Inside/Outside'].value_counts()}


New Indoor/Outdoor value counts:
{in_out_df['Inside/Outside'].value_counts()}
""")

Original Indoor/Outdoor value counts:

I          215730
O          211354
Outside      6689
Inside        955
Name: Inside/Outside, dtype: int64


New Indoor/Outdoor value counts:
O    218043
I    216685
Name: Inside/Outside, dtype: int64